<div class="course">
  <h1 class="course__title">{{course.title}}</h1>

  <img class="course__img" alt="{{course.title}}" src="{{course.img}}">

  <p class="course__price course__price_size_big price">{{course.price}}</p>
</div>