<h1>Профиль</h1>

<div class="row">
  <div class="col s6">
    <img class="avatar"
      src="https://cdn.simplecast.com/images/55d7f360-05c1-43af-9c2d-eb89e156734a/d1de2166-2168-4131-bf64-c26cd3703cf3/3000x3000/dan_abramov.jpg?aid=rss_feed"
      alt="">
    <p>Аватара нет</p>
  </div>
  <div class="col s6">
    <form action="/profile" method="POST">
      <p>Ваш email: <strong>{{user.email}}</strong></p>
      <div class="input-field">
        <input id="name" name="name" type="text" class="validate" required value="{{user.name}}">
        <label for="name">Ваше имя</label>
        <span class="helper-text" data-error="Имя не может быть пустым"></span>
      </div>

      <div class="file-field input-field">
        <div class="btn">
          <span>Аватар</span>
          <input type="file" name="avatar">
        </div>
        <div class="file-path-wrapper">
          <input class="file-path validate" type="text">
        </div>
      </div>

      <input type="hidden" name="_csrf" value="{{csrf}}">
      <button type="submit" class="btn btn-primary">Сохранить</button>
    </form>
  </div>
</div>