.nav-wrapper {
  padding: 0 2rem;
}

.price {
  font-size: 2rem;
}

/* COUSER */
.course {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.course__title {
  margin-bottom: 2rem;
}

.course__img {
  max-width: 600px;
  height: auto;
}

.course__price_size_big {
  font-size: 2rem;
}

/* COURSES */
.card__actions {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.courses-from {
  margin-bottom: 2rem;
}

/* AUTH */
.auth {
  padding-top: 2rem;
}

.alert {
  padding: 0.5rem 1rem;
  border-radius: 10px;
  text-align: center;
  margin-bottom: 1rem;
  background: rgba(255, 0, 0, 0.3);
  color: red;
}

/* PROFILE */
.avatar {
  max-width: 300px;
  height: auto;
}
